<%- include('template/header'); %>
<body>
    <h1>Profesionalmente</h1>
    <h2><center>En 2020 me incorpore a tecnico que ofrecia el colegio como desarroyador de software como tecnico de hay empezamos a crear un proyecto que duro 2 años en total que fueron de 10 hasta 11 de hay pues gane el tecnico y me certifique como tal entonces en 2022 me llego un correo del sena diciendo que se me gustaria participar en el tecnologo y despues omologar a una universidad yo con todo el gusto y todo el anelo les dije que si ademas de esto a mi me gusta mucho la computacion y pues me habia planteado ser programador.</center></h2>
    <h2><center>Actualmente estoy haciendo un tecnólogo en el centro de formación del Sena pero mis objetivos son llegar mas lejos que esto quiero hacer una especialización en ingeniería de sistemas</center></h2>
    <center><img src="https://thumbs.dreamstime.com/b/concepto-de-la-gesti%C3%B3n-de-fondos-94098098.jpg"></center>
    <h2>Desde muy pequeño e tenido un computador que me a permitido lograr lo que tengo hasta ahora hace mucho tiempo equerido armar mi primera pc gamer con la ayuda que el sena y la empresa me a proporsionado e logrado tener el anelo que siempre e querido que es mi computador gamer actualmente se lo basico de hardware pero mi interes me a llevado a mucho mas y tengo varios conocimientos sobre este</h2>
    <center><img src="https://muyeducativo.com/wp-content/uploads/2018/01/cpu-images-min_opt.jpg"></center>
</body>