<%- include('template/header'); %>
<body>
    <h1>Meritos logrados</h1>
    <h2>En estos 2 años de estudio me e certificado de seguridad y salud para el trabajo tambien e participado en eventos de la tic </h2>
   <center><img src="https://www.academia-albanta.com/wp-content/uploads/2019/11/consejos_opositor.jpg"></center>
   <h2>Desarrollador de software con experiencia en diseño, instalacion, pruebas y mantenimiento de sistemas de software. Dominio de varias plataformas, lenguajes y sistemas integrados. Experiencia en las herramientas y procedimientos de desarrollo Capaz de autogestionar un eficaz proyecto independientes. Buenas habilidades de colaboracion dentro de un equipo productivo</h2>
</body>