img{
 
  width: 100px;
  height: 100px;
  background-image: url(../foto.jpeg);
  background-size: 50%;
  margin: 0 auto;
}
  
  body {
    margin: 0;
    font-size: 1rem;
    line-height: 1.5;
    color: #333;
    overflow-x: hidden;
    
  }
  
  .header {
    height: 100vh;
    display: flex;
    align-items: center;
    color: #fff;
  }
  
  .content {
    max-width: 40rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: auto;
    text-align: center;
  }
  
  .header-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  
  .header-video video {
    min-width: 100%;
    min-height: 100%;
  }
  
  .header-overlay {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background: #303952;
    z-index: 1;
    opacity: .50;
  }
  
  .header-content {
    z-index: 2;
  }
  
  .header-content h1 {
    font-size: 50px;
    margin-bottom: 0;
    font-family: 'Lobster', cursive;
  }
  
  .header-content p {
    font-size: 1.5rem;
    display: block;
    padding-bottom: 2rem;
  }
  
  .btn {
    background: #c44569;
    color: #fff;
    font-size: 1.2rem;
    padding: 1rem 2rem;
    text-decoration: none;
  }
  
  @media (max-width: 960px) {
    .content {
      padding: 0 3rem 0 3rem;
    }
  }
  :root {
  --bg: #3C465C;
  --primary: #78FFCD;
  --solid: #fff;
  --btn-w: 10em;
  --dot-w: calc(var(--btn-w)*.2);
  --tr-X: calc(var(--btn-w) - var(--dot-w));
}
* {box-sizing: border-box;}
*:before, *:after {box-sizing: border-box;}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
  background: var(--bg);
  font-size: 20px;
  font-family: 'Titillium Web', sans-serif;
}
h1 {
  color: var(--solid);
  font-size: 2.5rem;
  margin-top: 6rem; 
}
