<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./../static/css/navbarini.css">
    <title>Document</title>
</head>

<ul>
    
    <li class="lista" style="float:left"><a href="Inicio">Inicio</a>
    <li class="lista" style="float:left"><a href="educacion">Educacion</a>
    <li class="lista" style="float:left"><a href="/laboral">Laboral</a>
    <li class="lista" style="float:left"><a href="/datos">Datos personales</a>
    <li class="lista" style="float:left"><a href="/habilidades">Habilidades</a>
    <li class="salida" style="float:right"><a class="active" href="#Salida">Salida</a></li>
  </ul>
  